:root {
    --font-size: 18px;
    --line-height: 1.75;
    --padding: 24px;
    --margin: 16px;
    --border-radius: 4px;
    --font-family: "Space Grotesk", sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --color-background: #fafafa;
    --color-text: #1f0000;
    --color-link: #002de0;
    --color-highlight: #fcfca7;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height);
    font-style: normal;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: var(--padding);
}

::selection {
    background: var(--color-highlight);
}

.container {
    display: grid;
    grid-column-gap: var(--margin);
    width: 100%;
    height: 100%;
    grid-template-columns: 0.5fr 1fr 0.9fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas: "n a p" "u c .";
}

.name {
    grid-area: n;
}

.last-updated {
    grid-area: u;
    font-size: 0.85em;
}

.about {
    grid-area: a;
}

.contact {
    grid-area: c;
    font-size: 0.85em;
}

.pic {
    grid-area: p;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    filter: sepia(15%);
}

p {
    margin-top: 0px;
    margin-bottom: calc(1.25 * var(--font-size));
}

p.big {
    font-size: 1.25em;
    font-weight: var(--font-weight-semibold);
}

.name p {
    margin: 0px;
}

span.block {
    display: inline-block;
}

a:link,
a:visited {
    color: var(--color-link);
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: var(--color-highlight);
    border-radius: 4px;
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 20px;
    }
    .name {
        text-align: center;
        margin: 0px;
        margin-bottom: 16px;
    }
    .last-updated {
        display: none;
    }
    .container {
        display: block;
    }

    /* FIXME: this doesn't work */
    .pic img {
        height: 90%;
        margin-bottom: 100px;
    }

    a:link,
    a:visited {
        display: revert;
    }

    p.big {
        font-size: 1.66em;
    }

    .contact {
        font-size: 1em;
    }
}
